.dark-bg {
    background-image: linear-gradient(rgba(0,0,0, .8), rgba(0,0,0, .4)), url('../img/himmel.jpg');
    background-size: cover;
    background-position: center center;
    
}

#hero .container {
    height: 50vh;
}

.paddingSection{
    padding: 100px 0;
}