{% extends 'base.html' %}

{% block content %}
<!-- Search -->
      
<section class="dark-bg" id="hero">
  <div class="container ep-height">
    <div class="d-flex justify-content-center align-items-center h-100 flex-column">

      <form id="search" action="/ergebnisse" class="col-6" style="text-align:center;" method="POST"> 

        <select name="klinikNameList" class="form-select form-select-lg mb-4" aria-label=".form-select-lg example">
          {%if klinikName %}
          <option selected>{{klinikName}}</option>
          {% elif message %}
          <option selected>{{message}}</option>
          {% else %}
          <option selected>Auswählen Sie ein Klinik</option>
          {% endif %}                
          {% for clinic in clinics %}
            <option value="{{clinic}}">{{clinic}}</option> 
          {% endfor %}        
        </select>
        <br>
        
        <!-- <button class="btn btn-primary">Auswählen</button> -->

        <button type="submit" class="btn btn-outline-danger col-4">Auswählen</button>
      </form>
    </div>
  </div>
</section>
 <!-- Ergebnisse -->
 <div class="class container">
    
<ul class="nav nav-tabs mt-2" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="klinik-tap" data-bs-toggle="tab" data-bs-target="#klinik" type="button" role="tab" aria-controls="klinik" aria-selected="true">Klinikbewertugen</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="google-tab" data-bs-toggle="tab" data-bs-target="#google" type="button" role="tab" aria-controls="google" aria-selected="false">Google</button>
    </li>
   
   
  </ul>
  <div class="tab-content mt-3" id="myTabContent">
    <div class="tab-pane fade show active" id="klinik" role="tabpanel" aria-labelledby="klinik-tab">
      <h4>{{klinikName}}</h4>  
        <div class="row row-cols-1 row-cols-md-2 g-4 mt-2">
                  
            <div class="col">
              <div class="card"> 
                            
                <img src="{{ url_for('static', filename='images/kliniks/k_'+ slug_name +'.png') }}" class="card-img-top" alt="{{klinikName}}">
                <div class="card-body">
                <h3 class="card-title">Kilinikbewertungen.de</h3>
                <br> 
              <!-- DataTable begin -->
              <table id="example" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>Kommanter</th>
                    </tr>
                </thead>
                <tbody>
                    {% for k_info in k_Infos %}
                    <tr>
                        <td style="word-break: break-word; vertical-align: top;">
                          
                                    <h5 class="card-title">{{ k_info[0] }}</h5>                                   
                                    <hr style="border: 1px solid #CCC">
                                  
                                    <p  class="card-text">{{k_info[3]}}</p>
                                   
                                    <p class="card-text mb-0"><small class="text-muted">{{ k_info[4] }}</small></p>
                                    <p class="card-text mb-0"><small class="text-muted">{{ k_info[5] }}</small></p>
                                   
                          
                        </td>                                      
                    </tr>
                    {% endfor %}
                </tbody>
            </table>


              <!-- DataTable end -->


                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                  <h5 class="card-title">Piechchart</h5>
                  <img src="{{ url_for('static', filename='images/piechart/k_p_'+ slug_name +'.png') }}" class="card-img-top" alt="{{klinikName}}">
                  
                  <h5 class="card-title">Cloudword</h5>
                  <img src="{{ url_for('static', filename='images/wordcloud/k_w_'+ slug_name +'.png') }}" class="card-img-top" alt="{{klinikName}}">
                </div>
              </div>
            </div>
          
        </div>
    </div>
    <div class="tab-pane fade" id="google" role="tabpanel" aria-labelledby="google-tab">
      <h4>{{klinikName}}</h4> 
        <div class="row row-cols-1 row-cols-md-2 g-4 mt-2">
                          
          <div class="col">
            <div class="card">                
              <img src="{{ url_for('static', filename='images/kliniks/k_'+ slug_name +'.png') }}" class="card-img-top" alt="{{klinikName}}">
              <div class="card-body">
              <h3 class="card-title">Google Map</h3>
              <br> 
            <!-- DataTable begin -->
            <table id="example2" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
              <thead>
                  <tr>
                      <th>Kommanter</th>
                  </tr>
              </thead>
              <tbody>
                  {% for g_info in g_Infos %}
                  <tr>
                      <td style="word-break: break-word; vertical-align: top;">
                        
                                  <h5 class="card-title">{{ g_info[0] }}</h5>                                   
                                  <hr style="border: 1px solid #CCC">
                                
                                  <p  class="card-text">{{g_info[3]}}</p>
                                 
                                  <p class="card-text mb-0"><small class="text-muted">{{ g_info[4] }}</small></p>
                                  <p class="card-text mb-0"><small class="text-muted">{{ g_info[5] }}</small></p>
                                 
                        
                      </td>                                      
                  </tr>
                  {% endfor %}
              </tbody>
          </table>          

            <!-- DataTable end -->


              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <!-- <img src="..." class="card-img-top" alt="..."> -->
              <div class="card-body">
                <h5 class="card-title">Piechchart</h5>
                <img src="{{ url_for('static', filename='images/piechart/g_p_'+ slug_name +'.png') }}" class="card-img-top" alt="{{klinikName}}">
                  
                  <h5 class="card-title">Cloudword</h5>
                  <img src="{{ url_for('static', filename='images/wordcloud/g_w_'+ slug_name +'.png') }}" class="card-img-top" alt="{{klinikName}}">
              </div>
            </div>
          </div>
        
          
        </div>

    </div>
   
  </div>
   
  </div>
  

</div>
{% endblock %}