<div class="d-flex justify-content-center align-items-center h-100 flex-column">

    <form id="search" action="/ergebnisse" class="col-6" style="text-align:center;" method="POST">
      

      <select name="klinikNameList" class="form-select form-select-lg mb-4" aria-label=".form-select-lg example">
       
        {% if message %}
        <option selected>{{message}}</option>
        {% elif klinikName %}
        <option selected>{{klinikName}}</option>
        {% else %}
        <option selected>Auswählen Sie ein Klinik</option>
        {% endif %}                
        {% for clinic in clinics %}
          <option value="{{clinic}}">{{clinic}}</option> 
        {% endfor %}        
      </select>
      <br>
      
      <!-- <button class="btn btn-primary">Auswählen</button> -->

      <button id="submit" type="submit" class="btn btn-outline-danger col-4">Auswählen</button>
    </form>
  </div>
 
