{% extends 'base.html' %}

{% block content %}
 <!-- Head image -->
      
 <section class="dark-bg" id="hero">
  <div class="container ep-height">
    <div class="d-flex justify-content-center align-items-center h-100 flex-column">  
     
    </div>
  </div>
</section>
<h3>Vorhersage</h3>
<div class="class container">
    <form class="row mx-auto" method="POST" id="vorhersage">
                                                                        
        <h2 class="fs-4 text-danger my-2 text-center">Bitte geben Sie einen Text ein...</h2>

        <div class="col-12 py-5">
          <div class="input-group">
            <div class="input-group-text rounded-0 bg-danger border-danger text-white">
            </div>
            <textarea type="text" form="vorhersage" class="form-control rounded-0 border-danger text-black bg-transparent"
              placeholder="Ihre text werde sentiment analyse *" name="comment" rows="6" required></textarea>
          </div>
        </div>

        <div class="d-grid">
          <button class="btn btn-outline-danger rounded-0 text-uppercase" type="submit">
            SEND MESSAGE
          </button>
        </div>
      </form>
        <br><br>
      
      <br><br>
    {{pred}}

</div>
{% endblock %}